@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-family: 'Kdam Thmor Pro', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f6f6f6;
}
h1 {
	font-size: 56px;

	background: -webkit-linear-gradient(#7914c6, #0e0149);
	/* background: -webkit-linear-gradient(#7914c6, #0e0149); */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: colortransition;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes colortransition {
	from {
		background: -webkit-linear-gradient(#7914c6, #7914c6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	to {
		background: -webkit-linear-gradient(#7914c6, #0e0149);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
